@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

a {
  color: #3e648d;
  text-decoration: none;
  background-color: transparent;
}

span {
  cursor: pointer;
  color: #3e648d;
}
.btn-secondary {
  cursor: pointer;
}
.icon {
  cursor: pointer;
}

.footer-bottom {
  bottom: 0;
}

.text-sm {
  font-size: 12px;
}

.form-control {
  margin: 0 !important;
}
.page-body {
  min-height: 65vh;
}
.default-body {
  min-height: 600px;
}
