@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

a {
  color: #3e648d;
  text-decoration: none;
  background-color: transparent;
}

span {
  cursor: pointer;
  color: #3e648d;
}
.btn-secondary {
  cursor: pointer;
}
.icon {
  cursor: pointer;
}
.sticky-bottom {
  /* height: 50px !important; */
}
